---
BasedOnStyle: Google
IncludeBlocks: Regroup
IncludeCategories:
# Project's headers
  - Regex: '"([a-z0-9_]+/?)+\.h"'
    Priority: 4
# Other libraries' headers
  - Regex: '<(boost|fmt|gmock|gtest|sqlite)([a-z0-9_]*/?)*\.(h|hpp)>'
    Priority: 3
# C++ standard library headers
  - Regex: '<[a-z0-9_]+>'
    Priority: 2
# C system headers
  - Regex: '<[a-z0-9_]+\.h>'
    Priority: 1
...
